:root {
  --pale-pink: #fddadd;
  --sage-green: #9caf88;
  --text-dark: #3b0b0b;
  --text-light: #fcfcfc;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: var(--pale-pink);
  color: var(--text-dark);
}

.photos {
  margin-bottom: 30px; /* for vertical spacing */ 
  margin-right: 30px; /* for horizontal spacing */
}



/* Layout container */
.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: var(--sage-green);
  padding: 2rem 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1.5rem;
}

.sidebar a {
  color: var(--text-light);
  text-decoration: none;
  font-family: 'Open Sans', Arial;
  font-style: italic;
  font-size: 1.5rem;
}

.sidebar a:hover {
  text-decoration: underline;
  color: var(--text-dark);
}

/* Main content */
.content {
  flex: 1;
  padding: 3rem;
}

/* Hero section */
.hero h1 {
  font-size: 3.5rem;
  color: var(--sage-green);
}

.hero p {
  font-size: 1.2rem;
}

/* Typography */
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--text-light);
  color: var(--text-dark);
  font-family: 'Open Sans', Arial;
}


.hero-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap; 
}

.hero-photo {
  width: 500px;
  height: auto;
  border-radius: 10px; 
}

.hero-description {
  max-width: 500px;
  color: var(--text-dark);
  
}
iframe {
  border: none;
  max-width: 100%;

}
